/*
 * Styles.css
 * Last Update: 2-18-15
 * CSS specifying colors, padding, and organization 
 * Includes style for: Log-in well, Background
 */
﻿
body{
    /*padding-top: 70px;*/
    //background-color:#2A2A2A;
    padding-bottom:100px;
    font-family: 'Lato', sans-serif;
}
#row {
    /*padding-top:70px;*/
}

.navbar-default{
    background-color: #1A242F;
}
        
.navbar-fixed-bottom{
    background-color: #2A2A2A;
}

/*
.navbar-default{
    background-color: #D3D3D3;
}  
*/

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.well{
	box-shadow: 10px 10px 5px #888888;
	border-width: 5px;
    //background: #d3d3d3;
    color:black;
}

.thumbnail .caption{
    color:white;
}

.footer{
    font-size: .8em;
}



.whiteText{
    color:white;
}

.padIcon{
    margin-right: 10px;
    margin-top: 5px;
}

#row1{
    font-size: .95em;
    color:white;
}
